
@model  LIMUPA.ViewModel.ForgottenPasswordViewModel
@{
     ViewData["Title"] = "ForgottenPassword";
}
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                                    @if(Model.EmailSent == true)
                                    {
                <div>
                <p>We have sent an email on yur registered email id</p>
                </div>

    }
    else
    {
         <!-- Login Form s-->
         <p>Forgot your password? No worries you can reset it easily</p>
                            <form asp-controller="User" asp-action="ForgottenPassword" method="post" >
                                <div class="login-form">
                                    <h4 class="login-title">Login</h4>
                                    <div class="row">
                                        <div asp-validation-summary=All class="text-danger" />
                                        <div class="col-md-6 mb-20">
                                            <label asp-for=Email >Registered email address</label>
                                            <input asp-for=Email  class="mb-0" type="text" placeholder="Email" >
                                            <span asp-validation-for=Email class="text-danger"></span>
                                        </div>                                     
                                        
                                        <div class="col-md-12">
                                            <button class="register-button mt-0">Continue   </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
            
    }
               </div>